* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, serif;
    height: 6000px;
    width: auto;
}

/* Стили для полупрозрачной полоски сверху экрана*/
.top-bar {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 70px; 
    z-index: 2; 
    background-color: rgba(0, 0, 0, 0.7); 
    justify-content: center; 
    align-items: center; 
}

/* Заготовки под стили кнопок */
.top-bar button {
    margin-right: 20px;
    font-size: 13px;  
    background: none;
    border: none;
    color: #fff;
    font-weight: thin;      
    letter-spacing: 0px;
    transition: color 0.3s;
}

/* Эффект при наведении на текстовые кнопки */
.top-bar button:hover {
    color: #b0b0b0;
    transform: scale(1.1);
    cursor: default;
}

#reserve {
    font-size: 18px;
}



/*Фон сверху*/
.hall {
    overflow: hidden;
    display: flex;
    position: relative;
    background-image: url('assets/photo/hall.png');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 70px);
    margin-top: 70px;
  }

.hall-Pushkin-logo {
    position: relative;
    left: 100px;
    top: 140px;
    height: 200px;
    width: 200px;
    max-width: 50%;
}

.contact-background {
    padding: 20px;
    position: absolute;
    height: 100%;
    width: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s ease-out forwards; 
}

.contact-info-numbers {
    position: absolute;
    color: white;
    top: calc(5%);
    font-size: medium;
}

@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

.contact-info {
    position: absolute;
    bottom: 80px;
    right: 80px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    z-index: 1;
}

.contact-telegram, .contact-whatsapp, .contact-facebook {
    position: relative;
    height: 50px;
    width: 50px;
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
    flex-wrap: wrap;
}

/*Стрелка*/
.arrow-down-img-one {
    position: absolute;
    z-index: 1;
    width: 100px;
    bottom: 0px;
    left: calc(50% - 52px);
    animation: arrow-down 2s infinite;
}

.arrow-down-img-one:hover{
    transform: scale(1.1)
}

@keyframes arrow-down {
    0%{
        bottom: 20px;
    }
    50%{
        bottom: 0px;
    }
    100%{
        bottom: 20px;
    }
}

/* блок с информацией */  
.welcome {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: auto;
    background-color: black;
    justify-items: center;
    padding: 100px;
    gap: 100px;
}

.welcome-text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
    color: rgb(214, 178, 100);
    font-size: 55px;
    font-weight: bold;
}

.welcome img {
    max-width: 100%; /* Убедитесь, что изображение адаптируется к ширине контейнера */
    height: auto; /* Сохраняет пропорции изображения */
}

.about-text {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
    font-size: 30px;
    color: rgb(192, 176, 148);

}

.div-main-video {
    background-color: black;
    padding: 40px;
}

.main-video {
    width: 80%;
    height: auto;
    top: 5%;
    display: block;
    margin: 0 auto;
}

.chooseRoomBlock {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: rgb(61,63,49);
    height: 170px;    
    padding: 20px;
    gap: 20px;
}

.chooseRoomImg {
    width: 130px;
    height: 130px;
}

.chooseRoomText {
    max-width: 100vw;
    font-size: 30px;
    text-align: left;
    color: rgb(214, 178, 100);
}

.chooseRoom {
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.room1, .room2, .room3, .room4 {
    overflow-y: hidden ;
    color: #fff;
    width: auto;
    height: 670px;
    background-color:#fff;
}

.details {
    height: 700px;
    width: 100vw;
    background-color: rgb(61,63,49);
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center; /* Центрирует по вертикали */
}

.xd {
    color: bisque;
    left: 50vh;
    top: 50vw;
    font-size: large;
}

.about-gallery {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 150px;
    width: 100vw;
    color: rgb(214, 178, 100);
    font-size: 32px;
    font-weight: bold;
    background-color: black;
}



@media (max-width: 768px) {
    .hall-Pushkin-logo {
        left: 20px; /* Еще больше уменьшаем отступ для мобильных устройств */
    }
}